// @import '../../../../../module/color/scss/handle.scss';
@import '../../../../../../common/style/handle.scss';
input {
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    @include b('boxBackground');
    @include c('mainColor');
    @include border('mainBorder');
}
