<div class="mask"></div>
<div class="content" [ngStyle]="{
    width: w ? w + 'px' : '500px',
    height: h ? h + 'px' : '300px'
  }">
  <header>
    <ng-container [ngTemplateOutlet]="header.templateRef"></ng-container>
    <nr-button style="vertical-align: top; float: right; margin-right: 1px; margin-top: -2px;" title="关闭"
      (click)="closeClick()"><nr-icon icon="icon-close" [h]="25"></nr-icon></nr-button>
  </header>
  <div style="height: calc(100% - 60px)">
    <ng-container [ngTemplateOutlet]="section.templateRef"></ng-container>
  </div>
  <div class="footer">
    <ng-container [ngTemplateOutlet]="footer.templateRef"></ng-container>
  </div>
</div>