@import '../../../../../assets/nuoruo_style/index.scss';

.header {
  height: 30px;
  width: 100%;
  opacity: 1;
  // @include b("boxHoverBackGround");
  @include bc('bc');

  .close {
    float: right;
  }
}

.body {
  height: calc(100% - 30px);
  overflow: auto;
  @include bc('bc')
}

.drag-box {
  resize: both;
  height: 200px;
  width: 400px;
  overflow: hidden;
  @include border('border');
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  @include border("border");
}

.position {
  position: fixed;
  opacity: 1;
}

.move1 {
  left: 50px;
  top: 150px;
}

.move2 {
  left: 80px;
  top: 180px;
}
.move3 {
  left: 110px;
  top: 210px;
}
.move4 {
  left: 140px;
  top: 240px;
}
.move5 {
  left: 170px;
  top: 270px;
}
.move6 {
  left: 200px;
  top: 300px;
}
.move7 {
  left: 230px;
  top: 330px;
}
.move8 {
  left: 260px;
  top: 360px;
}
.move9 {
  left: 290px;
  top: 390px;
}
.move0 {
  left: 320px;
  top: 420px;
}