@import '../../../../../assets/nuoruo_style/index.scss';
:host {
  .title {
    @include borderBottom('border');
  }
  .title span {
    margin: 10px;
    cursor: pointer;
    display: inline-block;
  }
  .title span:nth-of-type(1) {
    margin-left: 0px;
  }
  .title span.active {
    @include c('activeColor')
  }
}