<!-- <nr-gap></nr-gap> -->
这是row
<!-- <nr-button (click)="alert11()">显示alert</nr-button> -->
<nr-gap></nr-gap>
<h1>栅格系统初始化 nr-row</h1>
<h3>以供适应不同屏幕。</h3>
<nr-gap></nr-gap>
<nr-row>
    <ng-template nrCol [span]="24">
        <div class="append">24</div>
    </ng-template>
</nr-row>
<nr-gap></nr-gap>
<nr-row>
    <ng-template nrCol [span]="12">
        <div class="append">12</div>
    </ng-template>
    <ng-template nrCol [span]="12">
        <div class="append">12</div>
    </ng-template>
</nr-row>
<nr-gap></nr-gap>

<nr-row>
    <ng-template nrCol [span]="8">
        <div class="append">8</div>
    </ng-template>
    <ng-template nrCol [span]="8">
        <div class="append">8</div>
    </ng-template>
    <ng-template nrCol [span]="8">
        <div class="append">8</div>
    </ng-template>
</nr-row>
<nr-gap></nr-gap>

<nr-row>
    <ng-template nrCol [span]="6">
        <div class="append">6</div>
    </ng-template>
    <ng-template nrCol [span]="6">
        <div class="append">6</div>
    </ng-template>
    <ng-template nrCol [span]="6">
        <div class="append">6</div>
    </ng-template>
    <ng-template nrCol [span]="6">
        <div class="append">6</div>
    </ng-template>
</nr-row>
<nr-gap></nr-gap>

<nr-row>
    <ng-template nrCol [span]="4">
        <div class="append">4</div>
    </ng-template>
    <ng-template nrCol [span]="4">
        <div class="append">4</div>
    </ng-template>
    <ng-template nrCol [span]="4">
        <div class="append">4</div>
    </ng-template>
    <ng-template nrCol [span]="4">
        <div class="append">4</div>
    </ng-template>
    <ng-template nrCol [span]="4">
        <div class="append">4</div>
    </ng-template>
    <ng-template nrCol [span]="4">
        <div class="append">4</div>
    </ng-template>
</nr-row>
<nr-gap></nr-gap>

<nr-row>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
</nr-row>
<nr-gap></nr-gap>

<nr-row>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
</nr-row>
<nr-gap></nr-gap>
<nr-row>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
</nr-row>
<nr-gap></nr-gap>
<nr-row>
    <ng-template nrCol [span]="13"><div class="append">13</div></ng-template>
    <ng-template nrCol [span]="11"><div class="append">11</div></ng-template>
    <ng-template nrCol [span]="9"><div class="append">9</div></ng-template>
    <ng-template nrCol [span]="15"><div class="append">15</div></ng-template>
    <ng-template nrCol [span]="1"><div class="append">1</div></ng-template>
    <ng-template nrCol [span]="2"><div class="append">2</div></ng-template>
    <ng-template nrCol [span]="3"><div class="append">3</div></ng-template>
    <ng-template nrCol [span]="4"><div class="append">4</div></ng-template>
    <ng-template nrCol [span]="5"><div class="append">5</div></ng-template>
    <ng-template nrCol [span]="6"><div class="append">6</div></ng-template>
    <ng-template nrCol [span]="7"><div class="append">7</div></ng-template>
    <ng-template nrCol [span]="8"><div class="append">8</div></ng-template>
    <ng-template nrCol [span]="9"><div class="append">9</div></ng-template>
    <ng-template nrCol [span]="10"><div class="append">10</div></ng-template>
    <ng-template nrCol [span]="11"><div class="append">11</div></ng-template>
    <ng-template nrCol [span]="12"><div class="append">12</div></ng-template>
    <ng-template nrCol [span]="13"><div class="append">13</div></ng-template>
    <ng-template nrCol [span]="14"><div class="append">14</div></ng-template>
    <ng-template nrCol [span]="15"><div class="append">15</div></ng-template>
    <ng-template nrCol [span]="16"><div class="append">16</div></ng-template>
    <ng-template nrCol [span]="17"><div class="append">17</div></ng-template>
    <ng-template nrCol [span]="18"><div class="append">18</div></ng-template>
    <ng-template nrCol [span]="19"><div class="append">19</div></ng-template>
    <ng-template nrCol [span]="20"><div class="append">20</div></ng-template>
    <ng-template nrCol [span]="21"><div class="append">21</div></ng-template>
    <ng-template nrCol [span]="22"><div class="append">22</div></ng-template>
    <ng-template nrCol [span]="23"><div class="append">23</div></ng-template>
    <ng-template nrCol [span]="24"><div class="append">24</div></ng-template>
</nr-row>        