@import '../../../../../assets/nuoruo_style/index.scss';

button {
    position: relative;
    @include border('border');
    @include bc('boxBc');
    @include c('color');
    border-radius: 4px;
    line-height: 28px;
    height: 28px;
    padding: 0 4px;

    &:hover {
        @include bc('border');
    }

    &:active {
        transform: scale(.95);
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none
    }

    &.active {
        @include c('active');
        @include bc('activeBc');
    }
    &.group {
        margin-left: -1px;
    }
    &.red {
        @include bc('redDefault');
        @include white { color: white}
        @include black { color: white}
        
    }
    &.red:hover {
        @include bc('redHover');
        
    }
    &.yellow {
        @include bc('yellowDefault');
        @include white { color: white}
        @include black { color: white}
        
    }
    &.yellow:hover {
        @include bc('yellowHover');
        
    }
    &.blue {
        @include bc('blueDefault');
        @include white { color: white}
        @include black { color: white}
        
    }
    &.blue:hover {
        @include bc('blueHover');
        
    }

}

:host button.noBorder {
    border: 1px solid transparent;
}
:host button.noBg {
    background-color: transparent ;
}
:host button.radius-left {
    border-radius: 4px 0 0 4px;
}
:host button.radius-right {
    border-radius: 0 4px 4px 0;
}
:host button.radius-none {
    border-radius: 0 0 0 0;
}

// :host>button.red {
//     @include bc('red');
//     // background-color: red!important;
//     color: white;
//     border: transparent;
// }

:host {
    display: inline;
}

nr-loading {
    position: absolute;
    left: 0;
    right: 0;
}