<nr-gap></nr-gap>
基础按钮:<nr-button>你好</nr-button><br>
loading按钮:<nr-button [loading]="true">你好</nr-button><br>
禁用按钮:<nr-button [disabled]="true">你好</nr-button><br>
无边框按钮  <nr-button [noBorder]="true">你好</nr-button><br>
选中按钮  <nr-button [active]="true">你好</nr-button><br>
左边圆角(用于按钮组)  <nr-button radius="left">你好</nr-button><br>
右边圆角(用于按钮组)  <nr-button radius="right">你好</nr-button><br>
无圆角(用于按钮组) <nr-button radius="none">你好</nr-button><br>
按钮组(用于按钮组) <nr-button radius="left">你好</nr-button><nr-button radius="none">你好</nr-button><nr-button radius="right">你好</nr-button><br>