:host input.radius-left {
    border-radius: 4px 0 0 4px;
}
:host input.radius-right {
    border-radius: 0 4px 4px 0;
}
:host input.radius-none {
    border-radius: 0 0 0 0;
}
:host input.group {
    margin-left: -1px;
}