@import '../../../../../assets/nuoruo_style/index.scss';
:host {
    height: 100%;
    width: 100%;
    
    .grid-box {
        height: 100%;
        width: 100%;
        display: grid;  
        grid-gap: 4px 4px;
        // background-color: white;
        @include bc('bc')
    }
    div {
        @include bc('boxBc')
    }
    div:nth-of-type(2) {
        // background-color: skyblue;
        @include bc('active');
        opacity: 0.9;
    }
}