
<nr-tabs>
    <nr-tab v="设计页">
        <ng-template nrTab>
            <nuoruo-color></nuoruo-color>
        </ng-template>
    </nr-tab>
    <nr-tab v="文档页">
        <div style="height: 10px;"></div>
        <nuoruo-test></nuoruo-test>
    </nr-tab>
    <nr-tab v="关于">
        <p>使用了以下开源技术：html、css、js、scss、ts、angular、rxjs、ng-packagr。特此鸣谢</p>
        <p>当前版本：未定义</p>
        <p>nuoruo.com未来是本站的子网站，以后以诺若的名义发布作品。提醒自己，以后要对自己的作品有荣誉感，不要把乱七八糟的东西上传上来。</p>
        <p>design by nuoruo(诺若)</p>
        <p>https://mayiwen.com/nuoruo/component</p>
    </nr-tab>
</nr-tabs>