
<nr-tabs>
    
    <nr-tab v="文档页">
        <div style="height: 10px;"></div>
        <nuoruo-test></nuoruo-test>
    </nr-tab>
    <nr-tab v="设计取色页">
        <ng-template nrTab>
            <nuoruo-color></nuoruo-color>
        </ng-template>
    </nr-tab>


    <nr-tab v="关于">
        <h2>诺若组件库</h2>
        <p>使用了以下开源技术：html、css、js、scss、ts、angular、rxjs、ng-packagr。特此鸣谢</p>
        <p>nuoruo.com、nuoruo.cn未来是本站的子网站，以诺若的名义发布作品。</p>
        <p>组件官网 <a href="https://mayiwen.com/#/nuoruo-show" target="_blank">https://mayiwen.com/#/nuoruo-show</a> </p>
        <p>designed by mayiwen</p>
    </nr-tab>
</nr-tabs>