<nr-tabs>
    <nr-tab v="基础组件">
        <ng-template nrTab>
            <nr-gap></nr-gap>
            <nr-tabs>c:\02code\github\mayiwen_angular\src\app\myw\module\input
                <nr-tab v="button"><nuoruo-test-button></nuoruo-test-button></nr-tab>
                <nr-tab v="form"><nuoruo-test-form></nuoruo-test-form></nr-tab>
                <nr-tab v="tab"><nuoruo-test-tab></nuoruo-test-tab></nr-tab>
                <nr-tab v="loading"><nuoruo-test-loading></nuoruo-test-loading></nr-tab>
                <nr-tab v="icon"><nuoruo-test-icon></nuoruo-test-icon></nr-tab>
                <nr-tab v="page"><nuoruo-test-page></nuoruo-test-page></nr-tab>
            </nr-tabs>
        </ng-template>
    </nr-tab>
    <nr-tab v="布局组件">
        <ng-template nrTab>
            <nr-gap></nr-gap>
            <nr-tabs>
                <nr-tab v="gap"><nuoruo-test-gap></nuoruo-test-gap></nr-tab>
                <nr-tab v="split"><nuoruo-test-split></nuoruo-test-split></nr-tab>
            </nr-tabs>
        </ng-template>
    </nr-tab>
</nr-tabs>