<h1>诺若组件库 <nr-button (click)="changeTheme()">切换主题</nr-button></h1>
<nuoruo></nuoruo>
<div style="text-align: center; margin-top: 36px;">
    <a href="http://mayiwen.com/" style=" color:#666;">mayiwen.com</a>
</div>
<div style="text-align: center; margin-top: 8px;">
    <a href="https://beian.miit.gov.cn/" style=" color:#666;">豫ICP备2022018473号-1</a>
</div>
<div style="text-align: center; margin-top: 3px;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41162402000184"
        style="position: relative; ">
        <img src="../../../assets/gongan.png" style="position: absolute; left: -20px; top: 0px" />
        <p
            style="height:20px;line-height:20px; color:#666; display: inline-block; margin: 0; text-decoration: underline; ">
            豫公网安备 41162402000184号</p>
    </a>
</div>