<div style="height: 500px; width: 500px; border: 1px solid red">
    <nr-split [left]="20" [top]="20">
        <ng-template #left>
            这是左边的内容
        </ng-template>
        <ng-template #top>
            这是上面的内容
        </ng-template>
        你好这是右边的内容。
    </nr-split>
</div>
<div style="height: 500px; width: 500px; border: 1px solid red">
    <nr-split [left]="20" [top]="20">
        <ng-template #left>
            这是左边的内容s
        </ng-template>
        <ng-template #top>
            这是上面的内容
        </ng-template>
        你好这是右边的内容。
    </nr-split>
</div>