<h2>myw-split</h2>
<h4>公开的属性</h4>
<p>left? : number   当 &gt; 0 &lt; 1的时 以百分比上下分隔，大于1时，以px分隔 </p>
<p>top? : number 当 &gt; 0 &lt; 1的时 以百分比上下分隔，大于1时，以px分隔</p>
<h3>公开的方法</h3>
<p>无</p>
<div  class="append">
    <nr-split [left]="20" [top]="20">
        <ng-template #left>
            这是左边的内容
        </ng-template>
        <ng-template #top>
            这是上面的内容
        </ng-template>
        你好这是右边的内容。
    </nr-split>
</div>
<div  class="append">
    <nr-split [left]="20" [top]="20">
        <ng-template #left>
            这是左边的内容s
        </ng-template>
        <ng-template #top>
            这是上面的内容
        </ng-template>
        你好这是右边的内容。
    </nr-split>
</div>


