<nr-gap></nr-gap>

<h2>nr-tabs</h2>
描述：多个tab的一个集合

<h4>公开的属性</h4>
<p>无 </p>
<h4>公开的方法</h4>
(tabClick)="tabClickFn($event)"  $event 获取点击的 nr-tab 对应的 NuoruoTabComponent 对象。包含该对像的所有值。具体有可以取到哪些值。参照 NuoruoTabComponent 对象
<h2>nr-tab</h2>
描述：一个tab
<h4>公开的属性</h4>
data: any 你可以在 nr-tab 绑定任意数据。以方便 tabClick 取用的时候，取到你点击的 tab 按钮对应的 nr-tab 对应的对象。
<h4>公开的方法</h4>

<h2>指令：nrTab</h2>
描述: 一个用在 ng-template 上的指令，使用了该指令的内容。将使用 ng-if 控制该 nr-tab 的显隐。
<br>

<h2>范例:</h2>
&lt;nt-tabs&gt; <br>
&nbsp;&nbsp;&lt;nt-tab&gt; <br>
&nbsp;&nbsp;&nbsp;&nbsp;这是用 disable 控制的显隐<br>
&nbsp;&nbsp;&lt;/nt-tab&gt; <br>
&nbsp;&nbsp;&lt;nt-tab&gt; <br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;ng-template nrTab&gt; <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是用 if 控制的显隐<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/nt-template&gt; <br>
&nbsp;&nbsp;&lt;/nt-tab&gt; <br>
&lt;/nt-tabs&gt; <br>
<nr-tabs (tabClick)="tabClickFn($event)">
    <nr-tab v="标签1" data="1">1</nr-tab>
    <nr-tab v="标签2">2</nr-tab>
    <nr-tab v="标签3">3</nr-tab>
    <nr-tab v="标签4">4</nr-tab>
</nr-tabs>


