<nr-gap></nr-gap>
<nr-tabs>
    <nr-tab v="textarea">
        <nuoruo-test-form-textarea></nuoruo-test-form-textarea>
    </nr-tab>
    <nr-tab v="input number">
        <nuoruo-test-form-input-number></nuoruo-test-form-input-number>
    </nr-tab>
    <nr-tab v="select">
        <nuoruo-test-form-select></nuoruo-test-form-select>
    </nr-tab>
    <nr-tab v="date">
        <nuoruo-test-form-date></nuoruo-test-form-date>
    </nr-tab>
    <nr-tab v="input">
        <nuoruo-test-form-input></nuoruo-test-form-input>
    </nr-tab>
   
</nr-tabs>
