<div style="width: 100%; height: 800px; box-sizing: border-box; display: flex;">
    <div style="flex: 1; height: 100%; " class="black" >
        <h1 style="text-align: right;">非黑</h1>
        <div class="box">
            一级面板
            <input type="text">
        </div>
    </div>
    <div style="flex: 1; height: 100%;" class="white">
        <h1>即白</h1>
        <div class="box">
           一级面板
           <input type="qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq">
        </div>
    </div>
</div>
设计思想：大道至简，非黑即白。直而不肆，光而不耀。此页是主题与配色的基础，比主题拥有更高的优先级，所有主题配色以此为基础，故此页不受主题控制, 也是组件的基础，此页不可使用组件。
