<div style="width: 100%; height: 800px; box-sizing: border-box; display: flex;">
    <div style="flex: 1; height: 100%; " class="black" >
        <h1 style="text-align: right;">非黑</h1>
        <div class="box">
            一级面板
            <input type="text">
        </div>
    </div>
    <div style="flex: 1; height: 100%;" class="white">
        <h1>即白</h1>
        <div class="box">
           一级面板
           <input type="qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq">
        </div>
    </div>
</div>
<app-color-panel></app-color-panel>
设计思想：大道至简，非黑即白。直而不肆，光而不耀。此页是配色与组件的设计基础，不受主题与组件的控制。
